.vscode/settings.json
.idea/jsLibraryMappings.xml
.idea/Learning-Js.iml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/Learning-WebDev.iml
/2. Basic and Advance JS/7.Forkify-recipe-app/node_modules/
2. Basic and Advance JS/7.Forkify-recipe-app/src/.DS_Store
2. Basic and Advance JS/7.Forkify-recipe-app/dist/img/.DS_Store
2. Basic and Advance JS/7.Forkify-recipe-app/dist/.DS_Store
2. Basic and Advance JS/7.Forkify-recipe-app/package-lock.json